  <div id="main" role="main">
        <div class="article container">
            <form id="location_upload" action="/location/input" method="post">

                <fieldset class="form-location">
                    <legend>Upload 1</legend>
                    <div class="step1">
                        <p>
                            <label>Title</label>
                            <input type="text" name="title" value="" maxlength="50" placeholder="Title" required="required">
                        </p>
                        <div id="gallery_dropzone" class="fileupload-buttonbar well">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input id="location_gallery" type="file" name="gallery[]" multiple>
                            </span>
                            <div id="gallery_progress" class="progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="bar" style="width:0%;"></div>
                            </div>
                            <ul id="upload_gallery_files"></ul>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-location">
                    <legend>Upload 2</legend>
                    <div class="step2">
                        <p>
                            <label>Excerpt</label>
                            <textarea name="excerpt" cols="30" rows="2"></textarea>
                        </p>
                        <div id="cover_dropzone" class="fileupload-buttonbar">
                            <span class="btn fileinput-button">
                                <span>Cover Image Upload</span>
                                <input id="location_cover" type="file" class="btn btn-info">
                            </span>
                            <div id="cover_progress" class="progressbar" role="progressbar" aria-valuemin="0"
                                 aria-valuemax="100">
                                <div class="bar" style="width:0%;"></div>
                            </div>
                            <ul id="upload_cover_files"></ul>
                        </div>
                    </div>
                </fieldset>

                <div class="bg-location-submit">

                    <button class="bg-button" type="submit">Submit</button>
                    <button class="bg-button" type="reset">Cancel</button>
                </div>

            </form>

        </div>
    </div>

               