<div class="container">

  <div class="panel panel-default">
      <div class="panel-heading">
              <div class="pull-right">
                   <a href="/"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
              <h2>Innovation: {{innovation.name}} </h2>
              <div class="row">
              <div class="col-md-6">
                    <input type="text" ng-model="innovation.name" class="form-control" /><br>
                   <textarea ng-model="innovation.description"  class="form-control"></textarea>
              </div>

                    <div class="col-md-3">
                       <div class="toolbox box box-grey box-padding">
                          <h3>New Elements</h3>
                          <ul>
                              <!-- The toolbox only allows to copy objects, not move it. After a new
                                   element was created, dnd-copied is invoked and we generate the next id -->
                              <li ng-repeat="item in models.templates"
                                  dnd-draggable="item"
                                  dnd-effect-allowed="copy"
                                  dnd-copied="item.id = item.id + 1"
                                  >
                                  <button type="button" class="btn btn-default btn-sm" disabled="disabled">{{item.type}}</button>
                              </li><br>
                          </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="trashcan box box-grey box-padding">
                            <!-- If you use [] as referenced list, the dropped elements will be lost -->
                            <h3>Trashcan</h3>
                           
                            <ul dnd-list="[]">
                                 <li><img src="../Delete.png" style="width:50%; height:50%"></li>
                            </ul>
                        </div>

                    </div>

              </div>


      </div>

      <div class="panel-body nestedDemo">

<script type="text/ng-template" id="list.html">
    <ul dnd-list="list">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="item.type + '.html'">
        </li>
    </ul>
</script>

<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
        <h3>Container {{item.id}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="row"></div>
    </div>
</script>

<!-- Template for a normal list item -->

<script type="text/ng-template" id="item.html">
    <label class="item">Item {{item.id}}</label>
    <input type="text" class="form-control" ng-model="item.id.data" />
</script>

<!-- Main area with dropzones and source code -->

      	  <tabset justified="true">
                <tab heading="{{brick.name}}" ng-repeat="brick in bricks"><br>
                  <div class="row">
                      <div ng-repeat="(zone, list) in models.dropzones" class="col-md-3">
                          <div class="dropzone box box-yellow">
                              <!-- The dropzone also uses the list template -->
                              <h3>Column {{zone}} {{brick.name}}</h3>
                              <div ng-include="'list.html'"></div>
                          </div>
                      </div>
                  </div>
          		  </tab>
          </tabset>
  
      </div>

      <div class="panel-footer">
      	 <div class="form-group">
          <!-- <div class="col-lg-12 col-lg-offset-1"> -->
              <a href="/" class="btn btn-warning">Cancel</a>
              <button type="submit" ng-hide="innovation._id" ng-click="saveinno()" class="btn btn-primary">Save</button>
              <button type="submit" ng-show="innovation._id" ng-click="saveinnolast(innovation._id)" class="btn btn-primary">Update</button>
         <!-- </div> -->

          </div>


      </div>
	</form>
  </div>
</div>
