<!DOCTYPE html>
<html ng-app="innoengines">
<head>
    <title>Innoengines</title>
    <link href="cycle.png" rel="icon">
    <base href="/">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

  <!--   // <script src="https://ucarecdn.com/widget/1.4.6/uploadcare/uploadcare-1.4.6.min.js" charset="utf-8"></script> -->
<!--     // <script type="text/javascript" src="bower_components/angular-uploadcare/angular-uploadcare.js"></script> -->
    <style type="text/css">
    .scrollable-menu {
        height: auto;
        max-height: 300px;
        overflow-x: hidden;
    }
    .fileinput-button {
      position: relative;
      overflow: hidden;
    }
    .fileinput-button input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }

    /* Fixes for IE < 8 */
    @media screen\9 {
      .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
      }
    }
    div#scroll-able {
      height:400px;
      overflow:scroll;
    }
    </style>
</head>
<body>
<br>
<br>
<div class="container" ng-controller="accountCtrl">

    <div class="panel panel-default">
        <div class="panel-heading">
        
        <a  href="/logout" target="_self" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span> Logout </a>

        <span class="label label-success pull-right">{{Currentaccount.accountname}}</span>
       </div>
        <div class="panel-body">
            <div class="row">
      <!--       <input type="text" class="form-control pull-right" ng-model="search" placeholder="search..."> -->
            <form method="post" action="/createaccountname" name="myForm">
                        <div class="col-xs-3">
                            <div class="form-group has-feedback">
                                         <input class="form-control input-md" type="text" name="accountname" ng-model="accountname" placeholder="accountname" required >
                                        </div>
                     
                        </div>
                        <div class="col-xs-3">
                            
                             <div class="form-group has-feedback">
                                         <input class="form-control input-md" type="text" name="accountDescription" ng-model="accountDescription" placeholder="accountDescription" required autofocus>
                                        </div>
                       
                        </div>
                        <div class="col-xs-3">
                            <div class="control-group">
                                            <div class="controls">
                                                <select id="role" name="role" class="form-control">
                                                    <option selected="">Customer</option>
                                                    <option>Supplier</option>
                                                </select>
                                            </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group has-feedback">
                             <input class="form-control input-md btn btn-success" type="submit" name="submit" value="Create Account Name">
                            </div>
                        
                        </div>
                </form>
                </div>
            </div>
        </div>
        <div class="row">

                <div class="list-group col-md-3">
                  <a href="#" class="list-group-item active">
                   Account List
                  </a>
                  <div class="list-group-item" id="scroll-able">
                  <a ng-click="show(account._id)"  href="#" class="list-group-item" ng-repeat="account in account_result" ng-if="account.accountname !== 'keep'">
                  <img ng-src="{{imagepath}}{{account.avatar.name}}" width="50" height="50">
                  {{account.accountname}}<br> 
                  <span class="label label-warning">Date Created : {{account.created | date}}</span>
                  </a></div>
                </div>


                <div  class="col-md-9" ng-if="account._id">
                  <div class="panel panel-default">
                        <div class="panel-heading">
                        <img ng-src="{{imagepath}}{{account.avatar.name}}" width="50" height="50" class="pull-right">
                          <h5>{{account.accountname}}</h5>
                          <div ng-click="reload()" ng-if="successupdate === 'true'"class="alert alert-dismissable alert-success">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <strong>Well done!</strong>You successfully update user ID {{userId}}!
                          </div>
                        </div>
                        <div class="panel-body">
                        <form>
                          <div class="row">
                               
                                  <div class="col-md-12">
                                  <table class="table table-hover table-striped">
                                    <tr>
                                      <th width="100">Account Name</th>
                                      <th width="100">Description</th>
                                      <th width="100">Role</th>
                                      <th width="100">Active</th>
                                      <th width="100">Logo</th>
                                      <th width="100">Action</th>
                                     
                                    </tr>
                                    <tr>
                                      <td ng-hide="editmode === 'show'">{{account.accountname}}</td>
                                      <td ng-if="editmode === 'show' ">
                                      <input type="text" class="form-control" ng-model="account.accountname" name="accountname"  required>
                                      </td>
                                      <td ng-hide="editmode === 'show'">{{account.description}}</td>
                                      <td ng-if="editmode === 'show' ">
                                      <input type="text" class="form-control" ng-model="account.description" name="description"  required>
                                      </td>
                                      <td ng-hide="editmode === 'show'">{{account.role}}</td>
                                      <td ng-if="editmode === 'show'">
                                           <select id="role" name="role" ng-model="account.role" class="form-control">
                                                <option>Customer</option>
                                                <option>Supplier</option>
                                           </select>
                                      </td>
                                      <td ng-hide="editmode === 'show'">
                                        {{account.active}}
                                      </td>
                                      <td ng-if="editmode === 'show'">
                                            <select  name="active" ng-model="account.active" class="form-control">
                                                <option>Active</option>
                                                <option>Deactivate</option>
                                            </select>
                                      </td>
                                      <td> 
                                           <div>Logo</div>
                                           <span class="btn btn-success fileinput-button" ng-if="editmode === 'show'">
                                           <i class="glyphicon glyphicon-plus"></i>
                                           <span>Select Avatar</span>
                                           <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*"></span>
                                      </td>
                                      <td>
                                          <input ng-hide="editmode === 'show' " ng-click="edit(account._id)" class="form-control input-md btn btn-success" type="submit" name="submit" value="{{submitcaption}}">
                                          <input ng-if="editmode === 'show' " ng-click="updateaccount(account._id)" class="form-control input-md btn btn-success" type="submit" name="submit" value="{{submitcaption}}">
                                  <!--          <input ng-if="editmode === 'show' " ng-click="cancel()" class="form-control input-md btn btn-warning" type="submit" name="submit" value="Cancel">
                                          <input ng-hide="editmode === 'show' " ng-click="delete(account._id)" class="form-control input-md btn btn-danger" type="submit" name="submit" value="Delete"> -->
                                      </td>
                                    </tr>
                                   
                                  </table>
                                  </div>
                              </div>
                          </form>
                              <div class="row">
                                  <form name="adduser">
                                         <div class="col-xs-2">
                                         </div>
                                         <div class="col-xs-2">
                                            <input type="text" class="form-control" ng-model="createaccountget.username" name="username" id="inputEmail" placeholder="Username" required>
                                         </div>
                                         <div class="col-xs-2">
                                            <input type="password" class="form-control" ng-model="createaccountget.password" name="password" placeholder="Password" required>
                                         </div>
                                         <div class="col-xs-2">
                                               <select  name="roles" ng-model="createaccountget.roles" class="form-control">
                                                    <option selected value="Admin">Admin</option>
                                                    <option>Editor</option>
                                                    <option>Viewer</option>
                                                </select>
                                            <input type="hidden" ng-model="createaccountget.account_name" name="accountname" value="{{createaccountget.accountname}}">
                                            <input type="hidden" ng-model="createaccountget.accountid" name="accountid" value="{{createaccountget._id}}">
                                         </div>
                                         <div class="col-xs-2">
                                           <select  name="active" ng-model="createaccountget.actives" class="form-control">
                                                <option>Active</option>
                                                <option>Deactivate</option>
                                            </select>
                                         </div>
                                         <div class="col-xs-2">
                                                  <input class="form-control input-md btn btn-success" type="submit" name="submit" ng-click="save()" value="Create User">
                                        </div>
                                         </div>
                                  </form>                                   
                              </div>
                                <hr>
                          <form>
             
                              <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-4">
                                      <div class="radio">
                                        <label>
                                          <input type="radio" name="show" ng-model="toggle" id="show" value="show">
                                         Show {{account.accountname}} list
                                        </label>
                                      </div>
                                </div>
                                <div class="col-xs-4">
                                      <div class="radio">
                                        <label>
                                          <input type="radio" name="hide" ng-model="toggle" id="hide" value="hide">
                                          Hide {{account.accountname}} list
                                        </label>
                                      </div>
                                </div>
                            
                              </div>
                              <div class="row" ng-if="toggle === 'show'">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-10">
                                <form>
                                   <table class="table table-hover table-striped">
                                     <tr>
                                       <th>Account Name</th>
                                       <th>Date</th>
                                       <th>Username</th>
                                       <th>Role</th>
                                       <th>Atatus</th>
                                       <th width="50">Action</th>
                                     </tr>
                                     <tr ng-repeat="users in userlist" ng-if="users.accountname === account.accountname">
                                     <td>{{users.accountname}}</td>
                                     <td>{{users.created | date}}</td>
                                     <td ng-hide="editusers === 'true' && users._id === useraccount._id">{{users.username}}</td>
                                     <td ng-hide="editusers === 'true' && users._id === useraccount._id">{{users.roles}}</td>
                                     <td ng-hide="editusers === 'true' && users._id === useraccount._id">{{users.active}}</td>
                                     <td ng-if="editusers === 'true' && users._id === useraccount._id"><input type="text" class="form-control" ng-model="useraccount.username" name="username" placeholder="username" required><input type="password" class="form-control" ng-model="useraccount.pswrd" name="password"></td>
                                     <td ng-if="editusers === 'true' && users._id === useraccount._id">
                                            <select  name="roles" ng-model="useraccount.roles" class="form-control">
                                                <option>Admin</option>
                                                <option>Editor</option>
                                                <option>Viewer</option>
                                            </select>
                                        </td>
                                        <td ng-if="editusers === 'true' && users._id === useraccount._id">
                                          <select name="active" ng-model="useraccount.active" class="form-control">
                                                <option>Active</option>
                                                <option>Deactivate</option>
                                            </select>
                                            <input type="hidden" name="accountname" ng-model="useraccount.accountname">
                                        </td>
                                        <td >
                                        <input ng-hide="editusers === 'true' && users._id === useraccount._id" type="sudmit" class="btn btn-info" ng-click="edituser(users._id, account.accountname)" value="Edit">
                                        <input ng-if="editusers === 'true' && users._id === useraccount._id" type="sudmit" class="btn btn-info" ng-click="updateuser(useraccount._id, account.accountname)" value="Update">
                                        </td>
                                     </tr>
                                   </table>
                                   </form>
                                </div>
                                <div class="col-xs-1"></div>
                              </div>
                              <div class="row">
                              <br>
                                  <div class="col-md-4" id="submit">

                                      <center>

                                      </center>

                                  </div>
                                
                                  <div class="col-md-4">

                                  <center>

                                  </center>
                                 
                                  </div>
                                  <div class="col-md-4">
                               <!--          <input class="form-control input-md btn btn-success" type="file" name="submit" value="Upload Logo">
                                        </a> -->
                                        <input type="hidden" name="avatarhidden" id="accountId" value="{{account._id}}">
                                        <center>
                                          
                                          
                                        </center>
                                       
                                  </div>
                              </div>
</form>
                        </div>
                  
                    </div>
                </div>
        </div>


      
      <script src="framework/vendor/prism.js"></script>
      <script src="framework/demo-framework.js"></script>
      <script src="framework/view-source.js"></script>

       <script type="text/javascript" src="bower_components/ng-table/ng-table.js"></script>
       <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
       <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
       <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
       <script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
       <script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
       <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
       <script type="text/javascript" src="bower_components/checklist-model/checklist-model.js"></script>
       <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
       <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!--    // <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script> -->
       <script type="text/javascript" src="bower_components/ngupload/ng-upload.min.js"></script> 
       <script type="text/javascript" src="bower_components/js/angular-file-upload.min.js"></script>
    <!--   // <script type="text/javascript" src="bower_components/chosen/chosen.js"></script> -->
    <!--    // <script type="text/javascript" src="bower_components/crop-directive/directive.js"></script> -->
       <script type="text/javascript" src="vendor/underscore.js"></script>
       <script type="text/javascript" src="vendor/restangular.js"></script>
       <script type="text/javascript" src="script/app.js"></script>
       <script type="text/javascript" src="controller/accountCtrl.js"></script>
       <script type="text/javascript" src="controller/create_innovationCtrl.js"></script>
       <script type="text/javascript" src="controller/homeCtrl.js"></script>
       <script type="text/javascript" src="controller/adminCtrl.js"></script>
       <script type="text/javascript" src="directives/directives.js"></script>
       <script type="text/javascript" src="directives/angular-drag-and-drop-lists.js"></script>
       <script type="text/javascript" src="filters/filters.js"></script>
</body>
</html>
